@font-face {
  font-family: 'Bug';
  src:  url('fonts/Bug.eot?9dhnr8');
  src:  url('fonts/Bug.eot?9dhnr8#iefix') format('embedded-opentype'),
    url('fonts/Bug.ttf?9dhnr8') format('truetype'),
    url('fonts/Bug.woff?9dhnr8') format('woff'),
    url('fonts/Bug.svg?9dhnr8#Bug') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Bug' !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bug:before {
  content: "\e900";
}
.icon-angle-left:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-bell-slash:before {
  content: "\e904";
}
.icon-bell:before {
  content: "\e905";
}
.icon-logo:before {
  content: "\e901";
  color: #2787f5;
}
.icon-cloud-arrow-down:before {
  content: "\e906";
}
.icon-comment:before {
  content: "\e907";
}
.icon-ellipsis:before {
  content: "\e908";
}
.icon-ellipsis-vertical:before {
  content: "\e909";
}
.icon-face-smile-regular:before {
  content: "\e90a";
}
.icon-file-lines:before {
  content: "\e90b";
}
.icon-filter:before {
  content: "\e90c";
}
.icon-gear:before {
  content: "\e90d";
}
.icon-hand-peace:before {
  content: "\e90e";
}
.icon-magnifying-glass:before {
  content: "\e90f";
}
.icon-paperclip:before {
  content: "\e910";
}
.icon-paper-plane-regular:before {
  content: "\e911";
}
.icon-pen:before {
  content: "\e912";
}
.icon-plus:before {
  content: "\e913";
}
.icon-reply:before {
  content: "\e914";
}
.icon-right-from-bracket:before {
  content: "\e915";
}
.icon-share-nodes:before {
  content: "\e916";
}
.icon-trash:before {
  content: "\e917";
}
.icon-user-plus:before {
  content: "\e918";
}
.icon-video:before {
  content: "\e919";
}
